.link-text {
    fill: transparent; /* 初期状態は透明 */
    stroke: transparent;
    stroke-width: 20;
    cursor: pointer;
    transition: fill 0.5s ease; /* 透明から色が変わるアニメーション */
}
  
.link-text:hover {
    fill: currentColor; /* ホバー時にはテキストの色を適用 */
}

.url-display p {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.navigation-layer {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.navigation-layer a {
  pointer-events: auto;
}

.title {
  font-size: 60px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.link-github-1 {
  font-size: 100px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 10%;
  left: 17%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.link-tryhackme-1 {
  font-size: 100px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 30%;
  left: 75%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.link-hackthebox-academy-1 {
  font-size: 100px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 80%;
  left: 30%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-fadeOut {
  animation: fadeOut 3s ease-in-out forwards;
}
